@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');
@import url(../css/variables.css);
@import url(../css/responsive.css);

/* PRESETS */
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.bg-color {
    background: linear-gradient(131deg, #ce1766 27%, #2a2a2a 27.1%);
}

.bg-dark {
    background-color: var(--darkColor);
}

.main-home {
    padding-bottom: 64px;
    min-height: 90vh;
}

.container {
    max-width: 1100px;
    padding: 0 32px;
    margin: 0 auto;
}

.btn {
    padding: 8px 24px;
    border-radius: 10px;
    outline: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
    transition: background-color .4s;
}

.btn:hover {
    background-color: var(--brandColor);
    color: var(--white);
}

/* HOMEPAGE STYLE */

.header-brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
}

.user-account {
    background-color: var(--white);
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.user-account img {
    width: 24px;
}

.user-account:hover {
    background-color: #d8d8d8;
}

.box-initial-infos {
    padding: 0;
    color: var(--white);
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-initial-infos-title {
    width: 50%;
}

.box-initial-infos-image {
    width: 50%;
}

.box-initial-infos-title h1 {
    font-size: 3em;
    font-weight: 300;
}

.box-initial-infos-title p {
    font-size: 1em;
    font-weight: 300;
    margin: 32px 0;
    font-weight: 500;
}

.box-initial-infos-image img {
    width: 100%;
}

.box-initial-benefits {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
}

.card-benefits {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #353535;
    padding: 32px;
    border-radius: 15px;
    margin-right: 32px;
    color: var(--white);
}

.card-benefits img {
    margin-right: 1em;
}

/* PAYMENT SCREEN */
.box-form-payment-screen {
    margin: 0 auto;
    padding: 16px 0;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ads {
    width: 100%;
    padding-bottom: 16px;
}

.ads img {
    width: 100%;
}

.form-payment-screen {
    width: 100%;
    display: flex;
    flex-direction: column;
}

label {
    color: var(--white);
    font-weight: 500;
    padding: 4px 0;
    margin: 8px 0;
}

input {
    background-color: var(--grayColor);
    border: 1px solid transparent;
    border-radius: 6px;
    height: 22px;
    padding: 10px 0;
    padding-left: 8px;
    outline: none;
    transition: border .4s;
    color: var(--white);
    font-weight: 500;
}

input:focus,
select:focus {
    border: 1px solid #ff007bcd !important;
}

input::placeholder {
    font-weight: 600;
    color: var(--white);
}

.input-box-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-cpf {
    margin-right: 32px;
    width: 140px;
}

.box-img-option-payment {
    width: 400px;
}

.box-options-payments {
    background-color: var(--grayColor);
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    padding: 5px;
    margin-top: 32px;
}

.box-options-payments span {
    padding: 16px 32px;
    width: 33%;
    border-radius: 15px;
    outline: none;
    border: none;
    font-weight: 600;
    font-size: 1.1em;
    color: var(--white);
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    transition: background-color .2s;
}

.box-options-payments span:hover {
    background-color: var(--brandColor);

}

.btn-payment-active {
    background-color: var(--white) !important;
    color: var(--darkColor) !important;
    animation: btnAnimation .6s;
}

@keyframes btnAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.method-payment-card,
.method-payment-pix {
    display: none;
}

.method-payment-active {
    display: block;
}

.card-payment img {
    margin: 16px 0;
    margin-top: 32px;
}

.credit-card-item {
    padding: 8px;
    padding-top: 32px;
}

.credit-card {
    height: 180px;
    background: rgb(83,83,83);
    background: linear-gradient(121deg, rgba(83,83,83,1) 0%, rgba(37,37,37,1) 100%);
    border-radius: 30px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--white);
    font-weight: 500;
}

.infos-credit-card-flag {
    display: flex;
    justify-content: flex-end;
}
.infos-credit-card-flag img{
    margin:0;
    width: 70px;
}

.infos-credit-card-details {
    display: flex;
    justify-content: space-between;
    padding:16px;
}

.info-number-card {
    width: 200px;
}
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
 
 }
.box-input {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 16px;
}

.box-input-column {
    display: flex;
    flex-direction: column;
}

.box-validate-card {
    display: flex;
    align-items: flex-start;
}

.box-input .month {
    width: 75px;
    background-color: var(--grayColor);
    border-radius: 15px;
    padding: 12px 8px;
    margin: 8px;
    margin-right: 32px;
    margin-left: 0px;
    outline: none;
    transition: border .4s;
    color: var(--white);
    font-weight: 500;
    border: 1px solid transparent;
}

.box-input .year {
    width: 60px;
    background-color: var(--grayColor);
    border: 1px solid transparent;
    border-radius: 15px;
    padding: 12px 8px;
    margin: 8px;
    margin-right: 32px;
    margin-left: 0px;
    outline: none;
    transition: border .4s;
    color: var(--white);
    font-weight: 500;
}

.box-input .code {
    width: 80px;
    background-color: var(--grayColor);
    border: 1px solid transparent;
    border-radius: 15px;
    padding: 12px 8px;
    margin: 8px;
    margin-left: 0px;
    margin-right: 0px;
    outline: none;
    transition: border .4s;
    color: var(--white);
    font-weight: 500;
}

.box-select-installments {
    width: 100%;
    position: relative;
    display: flex;
}

.box-select-installments::after {
    content: "◄►";
    font-weight: 700;
    font-size: .7em;
    transform: rotate(90deg);
    top: 15px;
    right: 10px;
    color: var(--white);
    position: absolute;
}

.box-input .installments {
    width: 100%;
    appearance: none;
    background-color: var(--grayColor);
    border: 1px solid transparent;
    border-radius: 15px;
    padding: 12px 16px;
    ;
    margin-left: 0px;
    margin-right: 0px;
    outline: none;
    transition: border .4s;
    color: var(--white);
    font-weight: 500;
}

.box-pix-img-instructions {
    display: flex;
    padding: 32px 0;
}

.box-pix-img {
    background-color: var(--grayColor);
    padding: 16px;
    border-radius: 30px;
    display: flex;
    margin-right: 16px;
    justify-content: center;
    align-items: center;
}

.instructions-pix-payment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.instructions-pix {
    display: flex;
    align-items: center;
    color: var(--white);
    margin: 8px;
}

.instructions-pix span {
    background-color: var(--brandColor);
    font-size: .8em;
    width: 5px;
    height: 5px;
    padding: 7px;
    border-radius: 100%;
    margin-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instructions-pix p {
    font-size: .7em;
}

.divider-hr {
    width: 100%;
    margin: 32px 0;
    margin-bottom: 16px;
    background-color: #353535;
    height: 1px;
    outline: none;
    border: none;
}

.footer-payment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #343434;
    font-weight: 600;
    font-size: .9em;
}

.footer-payment p {
    text-align: center;
    font-size: .8em;
    margin: 8px;
}

.footer-payment p a {
    text-decoration: none;
    color: #343434;
}

.btn-payment {
    position: fixed;
    bottom: 0;
    font-size: 1.1em;
    width: 100%;
    height: 60px;
    border-radius: 0;
    background: var(--primaryColor);
    color: var(--white);
}

.btn-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-payment img {
    margin-right: 16px;
}


/* PAYMENT THANK YOU */
.box-thank-payment-screen {
    margin: 0 auto;
    padding: 16px 0;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-thank-you {
    width: 368px;
    border-radius: 20px;
    background-color: #00C843;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box-thank-you h1 {
    color: var(--white);
    font-weight: 500;
    text-align: center;
    font-size: 1.5em;
}



.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    fill: none;
    animation: stroke .8s cubic-bezier(0.65, 0, 0.45, 1) forwards
}

.checkmark {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 16px auto;
    margin-top: 0px;
    animation: fill .5s ease-in-out .5s forwards, scale .3s ease-in-out .9s both
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke .8s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0
    }
}

@keyframes scale {

    0%,
    100% {
        transform: none
    }

    50% {
        transform: scale3d(1.1, 1.1, 1)
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #fefefe00
    }
}

.box-infos-finish {
    width: 100%;
    margin-top: 32px;
}

.box-infos-finish p {
    color: var(--white);
    margin-bottom: 16px;
}

.infos-finish {
    height: 20px;
    background-color: var(--grayColor);
    border: 1px solid transparent;
    border-radius: 15px;
    padding: 12px 16px;
    margin: 8px 0;
    outline: none;
    transition: border .4s;
    color: var(--white);
    font-weight: 500;
}

.msg-confirmation h2 {
    padding-top: 32px;
    text-align: center;
    color: var(--white);
    font-size: 1.1em;
    font-weight: 600;
}