@media screen and (max-width:992px) {
    .desk-show {
        display: none;
    }

    .box-initial-infos-image {
        width: 100%;
        padding-top: 32px;
    }

    .box-initial-infos {
        flex-direction: column;
    }

    .box-initial-infos-title {
        width: 100%;
        text-align: center;
    }

    .box-initial-benefits {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-benefits {
        justify-content: center;
        width: 70%;
        padding: 32px 16px;
        margin: 16px 0;
    }

    .card-benefits img {
        margin-right: 16px;
    }



}

@media screen and (max-width:768px) {
    .box-initial-infos-title h1 {
        font-size: 1.5em;
        font-weight: 300;
    }

    .box-initial-infos-title p {
        font-size: .9em;
    }

    .box-initial-infos-image {
        width: 100%;
        padding-top: 32px;
    }
}


@media screen and (max-width:450px) {
    .box-initial-benefits {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-benefits {
        justify-content: space-evenly;
        width: 100%;
        padding: 32px 16px;
        margin: 16px 0;
    }

    label {
        color: var(--white);
        font-weight: 500;
        padding: 4px 0;
    }

    input {
        width:100%;
    }

    .input-box-flex {
        flex-direction: column;
        align-items: stretch;
    }

    .input-cpf {
        margin-right: 0;
        width: 100%;
    }

    .box-img-option-payment {
        width: 100%;
    }

    .btn-card-option,
    .btn-pix-option {
        user-select: none !important;
        -webkit-tap-highlight-color: transparent;
    }

    .input-box-flex-info-cards {
        flex-direction: row;
    }

    .box-input .month {
        margin-right: 16px;
    }

    .box-input .year {
        width: 40px;
        margin-right: 16px;
    }

    .box-input .code {
        width: 40px;
    }

    .box-pix-img-instructions {
        flex-wrap: wrap;
        justify-content: center;
    }

    .instructions-pix-payment {
        margin: 16px 0;
    }

    .box-pix-img {
        margin: 0;
    }

    .box-thank-you {
        width: 88%;
    }

    .box-thank-you h1 {
        font-size: 1.2em;
    }

    .msg-confirmation h2 {
        font-size: 1em;
    }



}

@media screen and (max-width:449px) {
    .credit-card-item {
        padding: 8px;
        padding-top: 32px;
    }

    .credit-card {
        height: 130px;
        background: rgb(83, 83, 83);
        background: linear-gradient(121deg, rgba(83, 83, 83, 1) 0%, rgba(37, 37, 37, 1) 100%);
        border-radius: 30px;
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: var(--white);
        font-weight: 500;
    }

    .infos-credit-card-flag {
        display: flex;
        justify-content: flex-end;
    }

    .infos-credit-card-flag img {
        margin: 0;
        width: 70px;
    }

    .infos-credit-card-details {
        display: flex;
        justify-content: space-between;
        padding: 8px;
        font-size: 11px;
    }

    .info-number-card {
        width: 130px;
    }
}